* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(15, 63, 44);
    text-align: center;
}
.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    font-size: 9vmin;
    color: #d68fd6ff;
    background-color: aquamarine;

}
#reset {
    background-color:rgb(32, 113, 97) ;
    color: white;
    height: 50px;
    width: 100px;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    border-radius: 1rem;
    border: none;
    border: 1.5px solid black;
}
h1{
    color: gray;
    font-size: xx-large;
    font-style: oblique;
}
#new{
    color: white;
    background-color: rgb(32, 113, 97);
    height: 50px;
    width: 100px;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    border-radius: 1rem;
    border: none;
    border: 1.5px solid black;
}
.message-container{
height: 100vmin;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 4rem;

}
#message{
    color:bisque;
    font-size: 5vmin;
}
.hide{
    display: none;
}